:root {
  --sclera-color: #eb2015;
  --background-color: #000;
  --pupil-color: #fff;
  --loader-height: 50px;
  --loader-aspect-ratio: 2;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--background-color);
  overflow: hidden;
}

.container {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.text-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 3.5em;
  margin: 0;
}

p {
  font-size: 2em;
  margin: 10px 0;
}

p1,
p2,
p3 {
  margin: 10px;
}

p1 {
  font-size: 1.3em;
}
p2 {
  font-size: 0.7em;
}
p3 {
  font-size: 0.5em;
}

.loader,
.loader1 {
  height: var(--loader-height);
  aspect-ratio: var(--loader-aspect-ratio);
  background: radial-gradient(farthest-side, var(--pupil-color) 15%, #0000 20%)
      0 0 / 50% 100%,
    radial-gradient(50% 100% at 50% 160%, var(--sclera-color) 95%, #0000) 0 0 /
      50% 50%,
    radial-gradient(50% 100% at 50% -60%, var(--sclera-color) 95%, #0000) 0 100% /
      50% 50%;
  background-repeat: repeat-x;
}

.loader {
  position: absolute;
  mask: radial-gradient(50% 100%, #000 95%, #0000) 0 100% / 50% 100% repeat-x;
  animation: l1 1s infinite alternate ease-in;
}

.loader1 {
  display: grid;
  animation: l2 1.5s infinite linear;
}

.loader1::before {
  content: "";
  background: inherit;
  opacity: 0.6;
  animation: glow 1s infinite;
}

@keyframes l2 {
  0%,
  15%,
  45%,
  55%,
  85%,
  100% {
    background-position: 0 0, 0 0, 0 100%;
  }
  20%,
  40% {
    background-position: 5px 0, 0 0, 0 100%;
  }
  60%,
  80% {
    background-position: -5px 0, 0 0, 0 100%;
  }
}

@keyframes l1 {
  0%,
  70%,
  100% {
    mask-size: 50% 100%;
  }
  85% {
    mask-size: 50% 0;
  }
}

@keyframes glow {
  to {
    transform: scale(3);
    opacity: 0;
  }
}
