body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  align-items: center;
  color:white;
  background-color: #000;
  overflow: hidden;
}

.container {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.text-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 3.5em;
  margin: 0;
}

p {
  font-size: 2em;
  margin: 10px 0;
}

p1 {
  font-size: 1.3em;
  margin: 10px;
}

p2 {
  font-size:0.7em;
  margin: 10px;
}

p3 {
  font-size: 0.5em;
  margin: 10px;
}

.loader {
  position: absolute;
  width: 50px;
  height: 30px;
  aspect-ratio: 2;
  background:
      radial-gradient(farthest-side, #000 15%, #0000 20%) 0 0 / 50% 100%,
      radial-gradient(50% 100% at 50% 160%, #fff 95%, #0000) 0 0 / 50% 50%,
      radial-gradient(50% 100% at 50% -60%, #fff 95%, #0000) 0 100% / 50% 50%;
  background-repeat: repeat-x;
  -webkit-mask: radial-gradient(50% 100%, #000 95%, #0000) 0 100% / 50% 0% repeat-x;
  -moz-mask: radial-gradient(50% 100%, #000 95%, #0000) 0 100% / 50% 0% repeat-x;
  -ms-mask: radial-gradient(50% 100%, #000 95%, #0000) 0 100% / 50% 0% repeat-x;
  mask: radial-gradient(50% 100%, #000 95%, #0000) 0 100% / 50% 0% repeat-x;
  animation: l3 1s infinite alternate ease-in;
}

.loader1 {
  height: 30px;
  aspect-ratio: 2;
  display: grid;
  background:
    radial-gradient(farthest-side,#000 15%,#0000 18%)0 0/50% 100%,
    radial-gradient(50% 100% at 50% 160%,#fff 95%,#0000) 0 0   /50% 50%,
    radial-gradient(50% 100% at 50% -60%,#fff 95%,#0000) 0 100%/50% 50%;
  background-repeat: repeat-x;
  animation: l2 1.5s infinite linear;
}
@keyframes l2 {
  0%,
  15% {background-position:0   0,0 0,0 100%}
  20%,
  40% {background-position:5px 0,0 0,0 100%}
  45%,
  55% {background-position:0   0,0 0,0 100%}
  60%,
  80%{background-position:-5px 0,0 0,0 100%}
  85%,
  100% {background-position:0   0,0 0,0 100%}
}

@keyframes l3 {
  0%,
  70% { 
      -webkit-mask-size: 50% 100%;
      -moz-mask-size: 50% 100%;
      -ms-mask-size: 50% 100%;
      mask-size: 50% 100%;
  }
  85% { 
      -webkit-mask-size: 50% 0;
      -moz-mask-size: 50% 0;
      -ms-mask-size: 50% 0;
      mask-size: 50% 0;
  }
  100% { 
      -webkit-mask-size: 50% 100%;
      -moz-mask-size: 50% 100%;
      -ms-mask-size: 50% 100%;
      mask-size: 50% 100%;
  }
}
